.signUpContainer{
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.signUpHolder{
    display: grid;
    width: 90vw;
    background-color: #f2f5ea;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 50px 0;
}

.signUpHolder form{
    display: grid;
    align-content: center;
}

.signUpHolder form input, .signUpHolder form select{
    background-color: white;
    margin-top: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
}

.signUpContainer form button{
    font-size: 1.5rem;
    margin-top: 5px;
}
